{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

    <title>Project Plan</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 2px;
            text-align: left;
            font-size: 15px;
        }

        th {
            background-color: #c8f5f3;
        }

        h2 {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }
    </style>

</head>
<body>
<div class="container">
    <h1>Объект плана: {{ project.name }}</h1>
    <img src="{{ project_plan_image }}" alt="Чертеж плана" class="plan-img">
    {% for detail in details %}
        <p>{{ detail }}</p>
    {% endfor %}
    <h2 class="mt-4 border-2 ">Детали проекта</h2>
    {% if project.project_type == project.ProjectType.WALL %}
        <table>
            <tr>
                <th>Параметр</th>
                <th>Значение</th>
            </tr>
            <tr>
                <td>Высота</td>
                <td>{{ project.height }} м</td>
            </tr>
            <tr>
                <td>Ширина A</td>
                <td>{{ project.width_a }} м</td>
            </tr>
            <tr>
                <td>Общая площадь стен</td>
                <td>{{ project.wall_area }} м²</td>
            </tr>
        </table>
    {% elif project.project_type == project.ProjectType.ROOM %}
        <table>
            <tr>
                <th>Параметр</th>
                <th>Значение</th>
            </tr>
            <tr>
                <td>Ширина A</td>
                <td>{{ project.width_a }} м</td>
            </tr>
            <tr>
                <td>Ширина B</td>
                <td>{{ project.width_b }} м</td>
            </tr>
            <tr>
                <td>Площадь комнаты</td>
                <td>{{ project.room_area }} м²</td>
            </tr>
        </table>
    {% elif project.project_type == project.ProjectType.LIVING_ROOM %}
        <table>
            <tr>
                <th>Параметр</th>
                <th>Значение</th>
            </tr>
            <tr>
                <td>Ширина A</td>
                <td>{{ project.width_a }} м</td>
            </tr>
            <tr>
                <td>Ширина B</td>
                <td>{{ project.width_b }} м</td>
            </tr>
            <tr>
                <td>Ширина C</td>
                <td>{{ project.width_c }} м</td>
            </tr>
            <tr>
                <td>Ширина D</td>
                <td>{{ project.width_d }} м</td>
            </tr>
            <tr>
                <td>Площадь гостиной</td>
                <td>{{ project.living_room_area }} м²</td>
            </tr>
        </table>
    {% endif %}



    <h2>Материалы проекта</h2>
    <table>
        <thead>
        <tr>
            <th>Название материала</th>
            <th>Тип материала</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for material in project_materials %}
            <tr>
                <td>{{ material.material.name }}</td>
                <td>{{ material.type_material }}</td>
                <td>{{ material.summa }} {{ material.material.unit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>


</body>
</html>
