{% extends 'base.html' %}
{% load static %}

{% block title %} Создать заказ {% endblock title %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="">
                    <div class="row bg-light rounded mb-3 p-2">
                        <div class="row ">
                            <div class="col-md-6">
                                <h6 class="mb-4 mt-3">Создание Объекта</h6>
                            </div>
                            <div class="col-md-6 text-end mt-2">
                                <button type="submit" form="id_form" class="btn btn-primary w-50 mb-3">Создать объект
                                </button>
                            </div>
                            <hr class="my-0">
                        </div>

                        <div class="row rounded ">
                            <form id="id_form" method="post" class="row g-3">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                {{ form.name }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.firm }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form.width_a }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.width_b }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-2">
                                            <div class="col-md-6 ">
                                                {{ form.height }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.project_type }}

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form.width_c }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.width_d }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="detail_counter" name="detail_counter" value="1">
                            </form>
                        </div>
                    </div>

                    <!-- Модальное окно для создания детали заказа -->
                    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabelCreate">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabelCreate">Материал объекта</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="myModalCreateForm">
                                        <div class="mb-3">
                                            {% for form in project_material_formset %}
                                                <div class="form-group">
                                                    <label for="material">Материал</label>
                                                    {{ form.material }}
                                                    {{ form.type_material }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="btn btn-primary w-100" id="addDetailBtn">Добавить
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Таблица для отображения деталей заказа -->
                    <div class="row p-3 bg-light rounded">
                        <button type="button" class="btn btn-primary btn-sm mb-3" id="openCreateModalBtn"
                                data-bs-toggle="modal" data-bs-target="#myModalCreate">Добавить материал
                        </button>

                        <div style="max-height: 400px; overflow-y: auto;">
                            <table class="table table-striped mt-3 text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Материал</th>
                                    <th scope="col">Тип</th>
                                    <th scope="col">Действия</th>
                                </tr>
                                </thead>
                                <tbody id="project_details_table">
                                <!-- Сюда будут добавляться детали заказа динамически -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% block dashboard %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let detailCounter = 1;

            document.getElementById('addDetailBtn').addEventListener('click', function () {
                let material = document.getElementById('material').value;
                let typeMaterial = document.getElementById('type_material').value;


                let materialFieldName = 'material_' + detailCounter;
                let typeMaterialFieldName = 'type_material_' + detailCounter;

                // Проверяем, существует ли уже скрытое поле для текущей детали заказа
                let existingMaterialField = document.getElementById(materialFieldName);
                let existingTypeMaterialField = document.getElementById(typeMaterialFieldName);

                if (!existingMaterialField && !existingTypeMaterialField) {
                    // Если скрытых полей для текущей детали заказа нет, то добавляем их
                    let materialField = '<input type="hidden" name="' + materialFieldName + '" class="material" value="' + material + '">';
                    let typeMaterialField = '<input type="hidden" name="' + typeMaterialFieldName + '" class="type_material" value="' + typeMaterial + '">';

                    document.getElementById('id_form').insertAdjacentHTML('beforeend', materialField);
                    document.getElementById('id_form').insertAdjacentHTML('beforeend', typeMaterialField);

                    // Добавляем строку в таблицу для отображения деталей заказа
                    let newRow = '<tr>' +
                        '<td>' + material + '</td>' +
                        '<td>' + typeMaterial + '</td>' +
                        '<td>' +
                        '<button type="button" class="btn btn-danger btn-sm delete-btn ml-2"><i class="bi bi-trash"></i></button>' +
                        '</td>' +
                        '</tr>';

                    document.getElementById('project_details_table').insertAdjacentHTML('beforeend', newRow);

                    // Добавьте обработчик события для кнопки "Удалить"
                    document.querySelectorAll('.delete-btn').forEach(function (button) {
                        button.addEventListener('click', function () {
                            let row = button.closest('tr');
                            row.remove();

                            // Получаем данные из ячеек строки таблицы, которую мы удаляем
                            let material = row.cells[0].textContent;
                            let typeMaterial = row.cells[1].textContent;

                            // Получаем скрытые поля из формы
                            let hiddenMaterialFields = document.querySelectorAll('input[name^="material_"]');
                            let hiddenTypeMaterialFields = document.querySelectorAll('input[name^="type_material_"]');

                            // Проходим по всем скрытым полям и ищем соответствующие данные
                            hiddenMaterialFields.forEach(function (field) {
                                if (field.value === material) {
                                    // Если находим соответствие, удаляем это скрытое поле из формы
                                    field.remove();
                                }
                            });

                            hiddenTypeMaterialFields.forEach(function (field) {
                                if (field.value === typeMaterial) {
                                    // Если находим соответствие, удаляем это скрытое поле из формы
                                    field.remove();
                                }
                            });
                        });
                    });


                    // Сбрасываем значения полей
                    document.getElementById('material').value = '';
                    document.getElementById('type_material').value = '';

                    // Закрываем модальное окно
                    $('#myModalCreate').modal('hide');

                    // Увеличиваем счетчик для следующей добавленной детали
                    detailCounter++;
                } else {
                    console.log('Fields already exist for this detail'); // Отладочный вывод
                }
            });


            document.getElementById('id_form').addEventListener('submit', function (event) {
                event.preventDefault();

                document.getElementById('detail_counter').value = detailCounter;


                let formData = new FormData(this);
                let orderDetails = document.querySelectorAll('.material, .type_material');

                // Loop through each detail field and append its data to the formData
                orderDetails.forEach(function (material) {
                    formData.append(material.name, material.value);
                });

                fetch('{% url "project-create" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        } else {
                            window.location.href = '{% url "project-list" %}';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });

            let projectTypeField = document.getElementById('id_project_type');
            let widthAField = document.getElementById('id_width_a');
            let widthBField = document.getElementById('id_width_b');
            let widthCField = document.getElementById('id_width_c');
            let widthDField = document.getElementById('id_width_d');

            function toggleWidthFields() {
                let projectType = projectTypeField.value;
                if (projectType === 'СТЕНА') {
                    widthAField.style.display = 'block';
                    widthBField.style.display = 'none';
                    widthCField.style.display = 'none';
                    widthDField.style.display = 'none';
                } else if (projectType === 'КОМНАТА') {
                    widthAField.style.display = 'block';
                    widthBField.style.display = 'block';
                    widthCField.style.display = 'none';
                    widthDField.style.display = 'none';
                } else if (projectType === 'ГОСТИННАЯ') {
                    widthAField.style.display = 'block';
                    widthBField.style.display = 'block';
                    widthCField.style.display = 'block';
                    widthDField.style.display = 'block';
                } else {
                    widthAField.style.display = 'none';
                    widthBField.style.display = 'none';
                    widthCField.style.display = 'none';
                    widthDField.style.display = 'none';
                }
            }

            toggleWidthFields();
            projectTypeField.addEventListener('change', toggleWidthFields);

        });

    </script>

{% endblock %}


